/* ********************************************************* */
/* Interview                                                 */
/* ********************************************************* */

.ce_interview.sc-first {
	padding-right: 10px;
}

.ce_interview .interview_question {
	background: #F6F6F6;
	padding: 10px 20px 1px 50px;
	background-image: url("bundles/contaointerview/images/icon-frage.svg");
	background-repeat: no-repeat;
	font-weight: bold;
	background-size: 30px;
	background-position: 10px 10px;
	margin-bottom: 25px;
}

.ce_interview .interview_answer {
	margin-bottom: 5px;
	padding: 2px 0px 2px 0px;
	font-style: italic;
}
